.lang {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

.lang:hover {
  opacity: 0.7;
}

.lang:active {
  padding: 1px;
}

.red {
  border: 1px solid red;
  background-color: rgb(255, 232, 232);
}

.map {
  height: 300px;
}